## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Index,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tuktoyaktuk,CA,69.45,-133.04,68.00,64,75,9.22,broken clouds
1,1,Ushuaia,AR,-54.80,-68.30,40.66,70,20,9.22,few clouds
2,2,Saldanha,ZA,-33.01,17.94,53.65,70,100,16.55,overcast clouds
3,3,Castro,BR,-24.79,-50.01,41.32,68,8,1.21,clear sky
4,4,Kruisfontein,ZA,-34.00,24.73,51.89,90,100,6.64,overcast clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [35]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Index,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tuktoyaktuk,CA,69.45,-133.04,68.00,64,75,9.22,broken clouds
5,5,Karla,EE,59.37,24.93,64.36,60,75,10.36,broken clouds
6,6,Agartala,IN,23.84,91.28,76.95,96,100,5.99,moderate rain
7,7,Huarmey,PE,-10.07,-78.15,67.23,74,13,8.93,few clouds
8,8,Siniscola,IT,40.57,9.69,72.95,59,0,4.79,clear sky
9,9,Alappuzha,IN,9.49,76.33,78.24,86,90,10.22,overcast clouds
12,12,Xingcheng,CN,40.62,120.72,74.12,90,75,0.78,broken clouds
14,14,Rikitea,PF,-23.12,-134.97,71.06,66,100,24.85,light rain
15,15,Chapais,CA,49.78,-74.85,62.38,93,81,7.02,broken clouds
17,17,Vaini,TO,-21.20,-175.20,77.16,88,40,4.61,scattered clouds

In [36]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Index                  0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [40]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df=preferred_cities_df.dropna()
len(preferred_cities_df)

357

In [41]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tuktoyaktuk,CA,68.00,broken clouds,69.45,-133.04,
5,Karla,EE,64.36,broken clouds,59.37,24.93,
6,Agartala,IN,76.95,moderate rain,23.84,91.28,
7,Huarmey,PE,67.23,few clouds,-10.07,-78.15,
8,Siniscola,IT,72.95,clear sky,40.57,9.69,
9,Alappuzha,IN,78.24,overcast clouds,9.49,76.33,
12,Xingcheng,CN,74.12,broken clouds,40.62,120.72,
14,Rikitea,PF,71.06,light rain,-23.12,-134.97,
15,Chapais,CA,62.38,broken clouds,49.78,-74.85,
17,Vaini,TO,77.16,scattered clouds,-21.20,-175.20,

In [42]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [56]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace('',float("NaN"),inplace=True)
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tuktoyaktuk,CA,68.00,broken clouds,69.45,-133.04,End of The Road Ltd.
5,Karla,EE,64.36,broken clouds,59.37,24.93,River Villa
6,Agartala,IN,76.95,moderate rain,23.84,91.28,Hotel Welcome Palace
7,Huarmey,PE,67.23,few clouds,-10.07,-78.15,Hotel Miramar
8,Siniscola,IT,72.95,clear sky,40.57,9.69,Hotel Sa Tanca E Bore
...,...,...,...,...,...,...,...
706,Wajir,KE,76.66,overcast clouds,1.75,40.06,Al- Amin lodge
707,Itoman,JP,78.82,light rain,26.12,127.67,Southern Beach Hotel & Resort Okinawa
708,Matara,LK,79.39,overcast clouds,5.95,80.54,Amaloh Boutique Resort
712,Pau,FR,70.81,clear sky,43.42,-0.58,O'jardin
713,Sorrento,IT,75.33,clear sky,40.63,14.37,Hilton Sorrento Palace

In [58]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [72]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp}°F and {Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [73]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))